<html>
  <head>
    <link rel="search" type="application/opensearchdescription+xml" title="Ami" href="opensearch.xml">
    <link rel="icon" type="image/jpg" href="logo.jpg" />
    <style>
    </style>
    <script><%= File.read("index.js") %></script>
  </head>
  <body>
    <form id="content" method="get">
      <input type="text" name="q">
      <input type="submit">
    </form>
  </body>
</html>
