<html>
  <head>
    <link rel="search" type="application/opensearchdescription+xml" title="Ami" href="opensearch.xml">

    <link rel="icon" type="image/jpg" href="logo.jpg" />
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="index.css">

    <script src="jquery.js"></script>
    <script src="spine.js"></script>
    <script src="underscore.js"></script>
    <script src="index.js"></script>

    <script type="text/html" id="tpl_main">
      <div class="row" id="logo"></div>

      <input type="text" class="form-control" id="search_input"></input>

      <div class="row" id="buttons">
        <div class="col-md-offset-2 col-md-4">
          <button class="text-center btn btn-primary btn-block" id="search_button">Search</button>
        </div>
        <div class="col-md-4">
          <button class="text-center btn btn-primary btn-block btn-info" id="options_button">Options</button>
        </div>
      </div>
    </script>

    <script type="text/template" id="tpl_options">
      <table class="table">
        <thead>
          <tr>
            <th>
              Site
            </th>
            <th>
              URL
            </th>
          </tr>
        </thead>
        <tbody>
          <% for (var name in sites) { %>
            <tr>
              <td>
                <% if (name === default_site) { %>
                  <span class="glyphicon glyphicon-flash"></span>
                <% } %>
              </td>
              <td>
                <%= name %>
              </td>
              <td>
                <%= sites[name]("Replace+me") %>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </script>

  </head>

  <body class="container-fluid">
    <div class="col-md-offset-3 col-md-6" id="main">
    </div>
    <div style="display: none;" class="col-md-offset-1 col-md-10" id="options">
    </div>
  </body>
</html>
